@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    margin-top: 30px;
    height: 90vh;
    display: flex;
    background-color: black;
    border-radius: 15px;
}

.border {
    border: 1px solid rgb(43, 43, 43) !important;
}

.header__left {
    width: 50%;
    margin-left: 10%;
}

.header__right {
    width: 50%;
    margin-left: 5%;
}

.banner_image {
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
    font-size: 59px;
    font-weight: bold;
}

p {
    color: rgb(207, 207, 207);
    font-size: 16px;
}

.btn {
    padding: 12px 22px;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    margin: 15px 0;
    border: 5px;
}

.blog {
    display: flex;
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    height: auto;
}

.blog__button__container {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 10px;
}

.btn2 {
    background-color: white;
    width: 240px;
    height: 60px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.background-red {
    background-color: red;
    color: white !important;
}

.blog__article__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}

.match__article {
    display: flex;
    gap: 20px;
    width: 250px;
    height: 200px;
    border: 1px solid rgb(221, 221, 221);
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.flag__contianer {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.blog__article {
    display: flex;
    gap: 10px;
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 1px rgb(216, 216, 216);
    flex-direction: column;
    border-radius: 5px;
}

h5 {
    font-size: 16px;
    color: black;
    margin-top: -10px;
}

h6 {
    margin-top: -40px;
    color: rgb(92, 92, 92);
}

.blog__button {
    padding: 5px 7px;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    margin-bottom: -5px;
    margin-top: 10px;
    font-size: 16px;
    background-color: white;
    color: rgb(41, 41, 41);
    border: 1px solid black;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.blog_p {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-bottom: -15px;
}

.time__container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}

.footer {
    width: 100%;
    height: 70vh;
    background-color: black;
}

.footer_h1 {
    text-align: center;
    padding-top: 100px;
    margin-top: 50px !important;
    font-size: 35px !important;
}

hr {
    width: 80%;
    margin-top: 30px;
    border: 1px solid rgb(54, 54, 54);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: rgb(192, 192, 192);
}

.link>a {
    margin-left: 20px;
    margin-top: 55px;
}

.mobile__view_title {
    display: none;
}

.view__all {
    display: none;
}

@media screen and (max-width:767px) {
    .view__all {
        display: none;
    }
    .header {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 26px;
        align-items: center;
        text-align: center;
        margin-left: -15px !important;
    }
    p {
        font-size: 10px;
        text-align: center;
        margin-top: -5px;
        margin-left: -20px;
    }
    .banner_image {
        width: 200px;
        height: 200px;
    }
    .btn {
        padding: 8px 10px;
        margin-top: -5px;
        margin-right: 30px;
        width: 180px;
        height: 40px;
        border-radius: 10px;
    }
    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog__button__container {
        background-color: white;
        margin-top: -100px !important;
    }
    .blog__article__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer {
        width: 100%;
        height: 80vh;
        background-color: black;
    }
    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .link>a {
        margin-top: 8px;
        font-size: 16px;
    }
    .footer_h1 {
        text-align: center;
        margin-top: 20px;
        margin-left: 20px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 30px;
    }
    .btn {
        border-radius: 5px;
    }
    .btn2 {
        padding: 18px 77px !important;
        font-size: 17px !important;
        font-weight: bold;
        margin-top: 0px !important;
    }
    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog__button__container {
        background-color: white;
        margin-top: -100px !important;
        flex-direction: row;
        gap: 40px;
        display: flex;
    }
    .blog__article__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }
    .link>a {
        margin-top: 8px;
        font-size: 17px;
    }
    .view__all {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .view__all__button {
        padding: 12px 22px;
        background-color: red;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        width: 140px;
        cursor: pointer;
    }
}